name: deploy
on:
  push:
    branches: [main]
  workflow_dispatch:
permissions:
      id-token: write 
      contents: write
      packages: write
jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    concurrency: 
      group: deploy-${{github.ref}}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: 'https://npm.pkg.github.com'
          scope: '@Tatch-AI'
          cache: 'npm'
      - name: Set up npm token
        run: npm config set //npm.pkg.github.com/:_authToken "$NPM_TOKEN"
        env:
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install dependencies
        run: npm ci
      - name: Run linting
        run: npm run lint
      - name: Run tests
        run: npm test
      - run: npx autorel@^2
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
